@media (max-width:1024px) and (orientation: landscape){
    h1{
        margin: 0px;
    }
    .title{
        width: 90%;
        left: 5%;
        font-size: 40px;
    }
    .container{
        width: 90%;
        left: 5%;
    }
    .small_container{
        width: 100%;
    }
    .week_cell{
        height: 400px;
        display: flex;
        justify-content:space-around;
        align-items: stretch;
        border-bottom: solid 2px gray;
    }
    .week_cell .div{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-self: stretch;
    }
    .time_index{
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-right: solid black 1px;
    }
    .day_cell{
        height: 100%;
        position: relative;
        font-size: 12px;
        border: solid 1px gray;
    }
    .date_index_cell{
        position: relative;
        height: 20px;
        margin: 0px;
        align-content: center;
        text-align: center;
        border-bottom: solid 1px gray;
        visibility: visible;
    }
    .timeline{     
        position: relative;
        height: 380px;
        display: grid;
        flex-direction: column;
        /* justify-content: end; */
        grid-template-rows: repeat(18, 1fr);
    }
    .line{
        border-top: dotted #808080 1px;
        position: absolute;
        width: 100%;
    }
    details{
        position: absolute;
        margin: 0px;
        padding: 0px;
    }
    .event_grid{
        width: 100%;
        /* height:100px; */
        /* display: grid; */
        grid-column: 1/2;
        grid-template-columns: repeat(4, 5%) 80%;
    }
    .event_container{
        position: relative;
        height: fit-content;
        visibility: visible;
    }
    .date_cell{
        display: none;
    }
    .event_cell{
        height: fit-content;
        overflow: hidden;
    }
    .delete_cell{
        display: none;
    }
    p{
        font-size: 14px;
    }
    button{
        font-size: 14px;
        /* margin:28px; */
    }
    select{
        font-size: 14px;
    }
    option{
        font-size: 10px;
    }
    form{
        display: flex;
        font-size: 14px;
    }
    .button_container{
        bottom: 0.5rem;
        height: 48px;
    }
    .button_container button{
        width: 72px;
        border-radius: 24px;
        font-size: 24px;
    }
    button.fontlight{font-size: 16px;}
    .console_container{font-size: 14px;}
    #register_console{
        width: 30em;
    }
    .grid div{
        padding: 3px;
    }
    .display_land_none_cell{
        display: none;
    }
}