@media (max-width:1024px) and (orientation: portrait){
    .title{
        width: 90%;
        left: 5%;
        font-size: 20px;
    }
    .container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .week_cell{
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .time_index{
        display: none;
    }
    .day_cell{
        align-items: center;
        font-size: 12px;
        background: white;
        border-radius: 1em;
        padding: 0.5em;
        background-color: transparent;
        /* box-shadow: 0 2px 6px rgba(74, 144, 226, 0.2); */
    }
    .timeline{
        width: fit-content;
        display: flex;
        /* justify-content: center; */
        flex-wrap: wrap;
    }
    .event_grid{
        display: flex;
        border-radius: 1em;
        background-color: transparent;
        box-shadow: 0 2px 6px rgba(74, 144, 226, 0.2);
    }
    .event_container{
        width:9.5em;
        height:9.5em;
        background-color: white;
        box-shadow: 0 2px 6px rgba(74, 144, 226, 0.2);
        box-sizing: border-box;
        padding: 0.5em;
        border-radius: 1em;
        margin: 0.5em;
        overflow: scroll;
    }
    .display_none_cell{
        display: none;
    }
    .date_cell{
        width: 7.5em;
    }
    .mark_cell{
        display: none;
    }
    .delete_cell{
        width: 1em;
        /* margin: 1px; */
    }

    /* #today_container>.week_cell{ display: flex; }
    #today_container .day_cell{ display: block; }
    #today_container .date_index_cell{ display: none; }
    #today_container .delete_cell{ display: none; } */

    p{
        font-size: 14px;
    }
    button{
        font-size: 14px;
        /* margin-top:20px;
        margin-bottom:20px; */
    }
    select{
        font-size: 14px;
    }
    option{
        font-size: 10px;
    }
    form{
        font-size: 14px;
    }
    .button_container button{
        width: 60px;
        height: 100%;
        border-radius: 30px;
        font-size: 24px;
    }
    button.fontlight{font-size: 16px;}
    .console_container{font-size: 14px;}
    #register_form{
        flex-direction: column;
    }
    .grid div{
        padding: 3px;
    }
}