@media (min-width:1024px){
    h1{
        font-size: 40px;
        margin: 0px;
    }
    .title{
        width: 60%;
        left: 20%;
    }
    .container{
        width: 60%;
        left: 20%;
    }
    .week_cell{
        align-content: center;
        border-bottom: solid 1px gray;
    }
    .display_none_cell{
        display: none;
    }
    .time_index{
        display: none;
    }
    .day_cell{
        display: flex;
        align-items: center;
        border-bottom: solid 1px gray;
    }
    .date_index_cell{
        font-size: 20px;
        width: 15%;
    }
    .timeline{
        display: flex;
        flex-direction: column-reverse;
        border-left: solid 1px gray;
    }
    .event_container{
        background-color: white;
        display: flex;
    }
    .date_cell{
        width: 32%;
        font-size: 20px;
    }
    .event_cell{
        width: 58%;
        font-size: 20px;
    }
    .delete_cell{
        width: 10%;
        height: 32px;
        font-size:20px;
        margin: 2px;
    }                              
    p{
        font-size: 20px;
    }
    input{
        font-size: 20px;
    }
    button{
        font-size: 20px;
        margin:20px;
    }
    select{
        font-size: 20px;
    }
    option{
        font-size: 16px;
    }
    form{
        left:25%;
        width: 50%;
        font-size: 20px;
    }
    .getbutton{
        height: 40px;
    }
    .display_button{
        bottom: 0%;
        width: 90px;
        height: 60px;
        border-radius: 30px;
        font-size: 20px;
    }
    #get_display_button{
        left: 25%;
    }
    #register_display_button{
        left: 33%;
    }
    #url_display_button{
        left: 41%;
    }
    #timer_display_button{
        left: 49%;
    }
    #historybutton{
        left: 57%;
    }
    #urlbutton{
        left: 65%;
    }
    #timerform{
        left:25%;
        width: 50%;
    }
    #historyform{
        left:25%;
        width: 50%;
    }
    .autofill{
        font-size:16px;
    }
    .grid div{
        padding: 5px;
    }
}