@media (min-width:1024px){
    h1{
        font-size: 40px;
        margin: 0px;
    }
    .title{
        width: 60%;
        left: 20%;
    }
    .container{
        width: 60%;
        left: 20%;
    }
    .week_cell{
        align-content: center;
        border-bottom: solid 1px gray;
    }
    .display_none_cell{
        display: none;
    }
    .time_index{
        display: none;
    }
    .day_cell{
        display: flex;
        align-items: center;
        font-size:20px;
        border-bottom: solid 1px gray;
    }
    .date_index_cell{
        width: 15%;
    }
    .timeline{
        display: flex;
        flex-direction: column-reverse;
        border-left: solid 1px gray;
    }
    .event_container{
        background-color: white;
        display: flex;
    }
    .date_cell{
        width: 25%;
    }
    .event_cell{
        width: 65%;
    }
    .delete_cell{
        width: 10%;
        height: 32px;
        margin: 2px;
    }                              
    p{
        font-size: 20px;
    }
    button{
        font-size: 20px;
        /* margin:20px; */
    }
    select{
        font-size: 20px;
    }
    option{
        font-size: 16px;
    }
    form{
        font-size: 20px;
    }
    .button_container button{
        width: 90px;
        border-radius: 30px;
        font-size: 28px;
    }
    button.fontlight{font-size: 20px;}
    .console_container{font-size: 20px;}
    #register_console{
        width: 30em;
    }
    .grid div{
        padding: 5px;
    }
}