@media (min-width:1024px){
    h1{
        font-size: 40px;
        margin: 0px;
    }
    .title{
        width: 60%;
        left: 20%;
    }
    .container{
        width: 60%;
        left: 20%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .week_cell{
        align-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .week_cell>div{
        width: 100%;
    }
    .time_index{
        display: none;
    }
    .day_cell{
        display: flex;
        width: 100%;
        box-sizing: border-box;
        align-items: center;
        font-size:20px;
        border-radius: 0.5em;
        padding: 0.5em;
        margin: 0.5em;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 2px 6px rgba(74, 144, 226, 0.2);
    }
    /* 予定が登録されていない日は非表示にする */
    .day_cell:not(.has_event){
        display: none;
    }
    .date_index_cell{
        /* width: 15%;*/
        padding: 0 0.5em;
        align-self: flex-start;
    }
    .timeline{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .event_grid{
        display: flex;
        border-radius: 1em;
        background-color: transparent;
        box-shadow: 0 2px 6px rgba(74, 144, 226, 0.2);
    }
    .event_container{
        display: flex;
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 6px rgba(74, 144, 226, 0.2);
        box-sizing: border-box;
        border: solid 2px;
        border-radius: 0.3em;
        margin: 0.1em 0;
        /* overflow: scroll; */
    }
    .event_container::-webkit-scrollbar {
        display: none;
    }
    body.schedule-hidden .landscape_only{
        display: none;
    }
    .date_cell{
        width: 8em;
        padding: 0 0.1em;
    }
    .mark_cell{
        display: none;
    }
    .delete_cell{
        width: 1em;
        /* margin: 1px; */
    }

    /* #today_container>.week_cell{ display: flex; }
    #today_container .day_cell{ display: block; }
    #today_container .date_index_cell{ display: none; }
    #today_container .delete_cell{ display: none; } */

    p{
        font-size: 20px;
    }
    button{
        font-size: 20px;
        /* margin:20px; */
    }
    select{
        font-size: 20px;
    }
    option{
        font-size: 16px;
    }
    form{
        font-size: 20px;
    }
    .button_container button{
        width: 90px;
        height: 100%;
        border-radius: 30px;
        font-size: 28px;
    }
    button.fontlight{font-size: 20px;}
    .console_container{font-size: 20px;}
    #register_console{
        width: 30em;
    }
    .grid div{
        padding: 5px;
    }
    .schedule_toggle{
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}