.title{
    height: fit-content;
    position: relative;
    border: solid 2px darkred;
    text-align: center;
}
.container{
    height: fit-content;
    position: relative;
    border: solid 2px darkblue;
}
.curtain{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.1);
    opacity: 0;
    transition: 0.2s;
}
.week_cell{
    position: relative;
}
.day_cell{
    width: 100%;
}
.timeline{
    width: 100%;
}
.date_cell{
    position: relative;
    border: none;
    border-right: solid 2px gray;
    align-content: center;
}
.mark_cell{
    width: 0%;
    visibility: hidden;
    border: none;
    justify-items: center;
}
.event_cell{
    position: relative;
    border: none;
    align-content: center;
    padding-left: 2px;
}
.delete_cell{
    align-self: center;
    padding: 0px;
    font-size:1em;
}
p{
    margin: 1em;
}
input{
    box-sizing: border-box;
    font-size: 1em;
}
form{
    width: 100%;
    display: flex;
}
.button_container{
    position: fixed;
    left: 20%;
    width: 60%;
    bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
}
.button_container button{
    color:white;
    border: solid white;
    background-color: coral;
    margin: 0px;
    transition: 0.2s;
}
.display_button_on{
    color:white;
    border: solid white;
    background-color: #ff4014;
}
.console_container{
    position: fixed;
    width: 100%;
    height: 100%;
}
.console_container>div{
    position: fixed;
    width: 24em;
    height: 13em;
    justify-self: center;
    bottom: 20%;
    transform: scale(0, 0);
    align-content: center;
    background-color: white;
    border: solid 1px black;
    transition: 0.2s;
}
#url_console{
    height: fit-content;
}
#colorcircle{
    position:relative;
    width:1.8em;
    height:1.8em;
    align-self:center;
    text-align:center;
    font-size:1em;
    border:solid 1px black;
    border-radius:5px;
    margin-top:1em;
}
#clear{
    width:6em;
    margin-top:1em;
    background: white;
    font-size: 0.8em;
}
#date_default{
    width:6em;
    margin-top:1em;
    background: white;
    font-size: 0.8em;
}
#postbutton{
    justify-self:center;
    align-self:center;
    width:5em;
    height:3em;
    margin: 0px;
}
.grid{
    width: 100%;
    display: grid;
    grid-template-columns: 20% repeat(2, 40%);
    grid-template-rows: repeat(4, 1fr);
}
.grid div{
    text-align: center;
    border: solid black 1px;
}
#register_form p{
    width:16em
}