@media (max-width:1024px) and (orientation: portrait){
    .title{
        width: 90%;
        left: 5%;
        font-size: 20px;
    }
    .container{
        width: 90%;
        left: 5%;
    }
    .week_cell{
        align-content: center;
        border: solid 1px gray;
    }
    .display_none_cell{
        display: none;
    }
    .time_index{
        display: none;
    }
    .day_cell{
        display: flex;
        align-items: center;
        font-size: 12px;
        border-bottom: solid 1px gray;
    }
    .date_index_cell{
        width: 17%;
    }
    .timeline{
        width: 83%;
        display: flex;
        flex-direction: column-reverse;
        border-left: solid 1px gray;
    }
    .event_container{
        background-color: white;
        display: flex;
    }
    .date_cell{
        width: 25%;
    }
    .event_cell{
        width: 65%;
    }
    .delete_cell{
        width: 10%;
        margin: 1px;
    }
    p{
        font-size: 14px;
    }
    button{
        font-size: 14px;
        /* margin-top:20px;
        margin-bottom:20px; */
    }
    select{
        font-size: 14px;
    }
    option{
        font-size: 10px;
    }
    form{
        font-size: 14px;
    }
    .button_container{
        left: 5%;
        width: 90%;
    }
    .button_container button{
        width: 60px;
        border-radius: 30px;
        font-size: 24px;
    }
    button.fontlight{font-size: 16px;}
    .console_container{font-size: 14px;}
    #register_form{
        flex-direction: column;
    }
    .grid div{
        padding: 3px;
    }
}